/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2015, 10:43:39 AM
    Author     : mekhala
*/

body {
    background-image: url('/Chat/assets/images/bg.jpg');

}

/*.center {    
    margin: auto;
    width: 60%;
    padding: 10px;
}

.left {    
    float: left;
}

*/
/*.right
{    
    padding-right: 30px;
}*/

.chatShade {
    line-height: 30px;
   // width:300px;
    border:1px solid #f0f0f0;
    background-color:rgba(255, 255, 255, 0.6);
    margin-top:10px;
    border-radius:5px;
}

.chatOwner{
    color: #3b5998;
    font-family: tahoma;
    font-size: 13px;
    font-weight: bold;
    padding:5px;    
}

.chatBody {    
    color: #999;
    font-family: tahoma;
    font-size: 13px;
    padding:5px;  
}

.fullChat {
    margin: auto;
    width: 60%;
    padding: 300px;
    line-height: 30px;
    width:500px;
    margin-top:10px;
    border-radius:5px;
}

.chatDlg {
    padding:5px;  
    width:100%;  
}